data/*.txt
a.out
result/*
vp/*
query/*
cds_data/*
cds_query/*
figure/*
*.swp
*.pyc

nd_tree/*.h
nd_tree/*.cpp
nd_tree/*
nd_tree/*.o

ndt_data/*
ndt_query/*

kd_tree/*
rq_result/*

figure_pair/*
.DS_Store
